header {
	font-family: Georgia;
	background-color: #ffffff;
	color: black;
	border-color: #cccccc;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 960px;
	margin-left: 30px;
}
.YourName {
	background: #4aaaa5;
	color: white;
	width: 20%;
	text-align:center;
	font-size: 30px;
	padding: 20px;
	margin-right: 30px;
}
body {
	font-family: Helvetica-Nue;
	width: 1080px;
	color: #777777;
	}
section {
	background: white;
	width: 100%;
	max-width: 650px;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.full {
	background-image: url("../images/greyzz_@2X.png");
	background:;

	height: 600px;
	width: 100%;
}
.AboutMe {
	font-weight: bold;
	display: flex;
	flex-wrap:wrap;
	color: #4aaaa5;
	font-size: 20px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: 10px;
	width: 100%;
	max-width: 960px;
}
.buttons {
	justify-content: space-around;
	align-self: center;
	color: grey;
	width: 100%;
	max-width: 270px;
	margin-left: 30px;
}
img {
	float: left;
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin bottom: 10px;
}
.HeaderHtml {
	display: flex;
	align-content: center;
	width: 20%;
	flex-direction: flex-end;
}
article {
	margin-top: 30px;
	margin-left: 30px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	max-width: 400px;
	height: 250px;
	float: left;
}
.ConnectwithMe {
	color: #4aaaa5;
	font-size: 20px;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}
.icons {
	float: left;
}
#p1 {
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
footer {
	background: #535353;
	padding: 20px 0px 20px 0px;
	text-align: center;
	border-top: 2px;
	border-color: #4aaaa5;
}